.loader {
  display: grid;
  grid-gap: 24px;
}

.singleLoaderContainer {
  padding: 24px;
}

.singleLoaderLine {
  margin-bottom: 12px;
}

.singleLoaderLine:last-of-type {
  margin-bottom: 0;
}

.singleLoaderAvatarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.singleLoaderAvatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--avatarSize);
  height: var(--avatarSize);
}

@media (min-width: 600px) {
  .loader {
    grid-template-columns: repeat(2, 1fr);
  }
}
