.root {
  scrollbar-gutter: stable;
}

.root::-webkit-scrollbar {
  width: 12px;
}

.root::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

.root::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.users {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 24px;

  padding: 0 12px;
}

.loaderWithMargin {
  margin-top: 24px;
}

@media (min-width: 600px) {
  .users {
    grid-template-columns: repeat(2, 1fr);
  }
}
