.root {
  display: flex;
  align-items: center;

  color: var(--matterColorLight);
  margin: 0 0 24px;
}

.headingText {
  white-space: nowrap;

  width: fit-content;
  padding: 0 12px;
}

.root::before,
.root::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--mainColor);
}

@media (min-width: 768px) {
  .headingText {
    padding: 0 18px;
  }
}
