:root {
  --mainColor: #55f;

  --matterColorLight: #fff;
  --matterColorBright: #f6f6f6;

  --avatarSize: 68px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
}

a {
  color: var(--matterColorLight);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}
